{% extends "base.html" %}
{% block content %}
<div class="container my-md-4 my-3" style="list-style-position: inside">
    <h1 class="text-center border-color p-2">Iniciar sesión</h1>
    <form action="/accounts/login/" method="post" class="text-center mb-4">
        {% csrf_token %}
        {% if form.errors %}
            <p>Tu nombre de usuario y/o contraseña no son reconocidos. Por favor, intenta nuevamente</p>
        {% endif %}
        {% if next %}
            {% if user.is_authenticated %}
                <p>Tu cuenta no tiene acceso a esta página.</p>
            {% else %}
                <p>Inicia sesión para poder acceder a esta página.</p>
            {% endif %}
        {% endif %}
        <div>
            <label for="" class="my-2">
                Nombre de usuario:
            </label>
            <div>
                {{ form.username }}
            </div>
            <label for="" class="my-2">
                Contraseña:
            </label>
            <div>
                {{ form.password }}
            </div>
            <input type="submit" value="Iniciar sesión" class="btn my-3 text-white color-base">
        </div>
    </form>
</div>
{% endblock %}