{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center">Sobre Nosotros</h1>
    <div class="mx-3 mt-3">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem itaque quis odio voluptate, minima excepturi nisi tempora aliquid porro unde dignissimos explicabo magnam. Animi quas reprehenderit tempora, numquam unde eligendi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem alias, enim at et distinctio numquam debitis, delectus voluptatibus corporis repudiandae possimus magni consequuntur dignissimos maiores nisi ut praesentium, a excepturi?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem itaque quis odio voluptate, minima excepturi nisi tempora aliquid porro unde dignissimos explicabo magnam. Animi quas reprehenderit tempora, numquam unde eligendi!</p>
    </div>
</div>
{% endblock %}