{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container my-4">
    <h1 class="text-center">Inicio</h1>
    <h2 class="pt-3 mx-3">Productos disponibles</h2>
    <div class="pt-3 mx-3">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="{% static './img/flan1.jpg' %}" class="card-img-top" alt="Flan 1">
              <div class="card-body">
                <h5 class="card-title">Flan 1</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem itaque quis odio voluptate, minima excepturi nisi tempora aliquid porro unde dignissimos explicabo magnam. Animi quas reprehenderit tempora, numquam unde eligendi!</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{% static './img/flan2.jpg' %}" class="card-img-top" alt="Flan 2">
              <div class="card-body">
                <h5 class="card-title">Flan 2</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem itaque quis odio voluptate, minima excepturi nisi tempora aliquid porro unde dignissimos explicabo magnam. Animi quas reprehenderit tempora, numquam unde eligendi!</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{% static './img/flan3.jpg' %}" class="card-img-top" alt="Flan 3">
              <div class="card-body">
                <h5 class="card-title">Flan 3</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem itaque quis odio voluptate, minima excepturi nisi tempora aliquid porro unde dignissimos explicabo magnam. Animi quas reprehenderit tempora, numquam unde eligendi!</p>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}