{% extends "base.html" %}
{% block content %}
<div class="container my-4">
    <h1 class="text-center">Bienvenido Cliente</h1>
    <div class="pt-3 mx-3">
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for flan in flanes_privados %}
          <div class="col">
            <div class="card h-100">
              <img src="{{ flan.image_url }}" class="card-img-top" alt="Flan 1">
              <div class="card-body">
                <h5 class="card-title">{{flan.name}}</h5>
                <p class="card-text">{{flan.description}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}