{% extends "base.html" %}
{% block content %}
<div class="container my-md-4 my-3 text-center">
    <h1 class="border-color p-2">¡Bienvenid@ {{ user.username }}!</h1>
    <h3 class="pt-3 mx-3">Tenemos una lista de productos exclusivos para ti. ¿Quieres conocer más?</h3>
    <a class="btn text-white mx-3 my-2 color-base" href="{% url 'contact' %}">Contáctanos</a>
    <div class="pt-3 mx-3">
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for flan in flanes_privados %}
          <div class="col">
            <div class="card h-100">
              <img src="{{ flan.image_url }}" class="card-img-top" alt="Flan 1">
              <div class="card-body">
                <h5 class="card-title fw-bold">{{flan.name}}</h5>
                <p class="card-text">{{flan.description}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}